# mcprepare container utility
type mcprepare, domain, coredomain;
type mcprepare_exec, exec_type, file_type;

# TODO log audits and make restrictive
permissive mcprepare;

# started by init
init_daemon_domain(mcprepare)

# #!/system/bin/sh
allow mcprepare shell_exec:file rx_file_perms;

# exec busybox, keeping scontext
allow mcprepare busybox_exec:file execute_no_trans;
allow mcprepare busybox_exec:file rx_file_perms;

# busybox needs to exec writable memory for some reason...
allow mcprepare self:process execmem;

# extracting requires create perms, but
# only for maru_file scontext
# allow mcprepare maru_file:dir create_dir_perms;
# allow mcprepare maru_file:file { create_file_perms link };
# allow mcprepare maru_file:lnk_file create_file_perms;

allow mcprepare self:capability { chown fsetid fowner };
# allow mcprepare self:capability dac_override;

# mknod is in a neverallow so we let mknods fail in the extraction (harmless)
dontaudit mcprepare self:capability mknod;
