# mflinger oneshot service
# most of this from external/sepolicy/bootanim.te
type mflinger, domain;
type mflinger_exec, exec_type, file_type;

init_daemon_domain(mflinger)

binder_use(mflinger)
binder_call(mflinger, surfaceflinger)

# allow mflinger to find surfaceflinger
allow mflinger surfaceflinger_service:service_manager find;

# allow mflinger to read the ion buffer used by mclient
allow mflinger ion_device:chr_file r_file_perms;
