#
# Maru-specific init
#

on init

    # 
    # set up devices cgroup
    #

    # init.rc already mounts tmpfs for memory cgroup
    mkdir /sys/fs/cgroup/devices 0750 root system
    #chown root system /sys/fs/cgroup/devices
    #chmod 0750 /sys/fs/cgroup/devices
    mount cgroup none /sys/fs/cgroup/devices devices

    #
    # set up freezer cgroup
    #
    # Calling stop on an LXC container returns failure
    # without this.
    #
    mkdir /sys/fs/cgroup/freezer 0750 root system
    mount cgroup none /sys/fs/cgroup/freezer freezer

on post-fs-data

    # need to do this in init to get the
    # maru_file contexts right
    mkdir /data/maru 0770 system system


service mflinger /system/bin/mflinger
    class main
    user graphics
    group graphics
    oneshot

service perspectived /system/bin/perspectived
    class main
    oneshot

service mcprepare /system/bin/logwrapper /system/bin/mcprepare
    class late_start
    oneshot
